body {
  margin: 30px;
  background-color: #eee;
}

h1 {
  font-weight:bold;
  font-size:2.5em;
  text-transform:capitalize;
  letter-spacing: 0.1em;  
}

a:link, a:visited{
  color:#6d6e73;
}

a:hover, a:focus, a:active {
  color:#444;
}

p{
  margin: 5px;
}

#imgdiv, #svgdiv {
  display: none;
  border: 2px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

#drop {
  border: 2px dashed #ccc;
  width: 170px;
  padding: 10px;
  margin: 20px 0;
  text-align: center;
  border-radius: 5px;
}
 
#drop.hovering{
  border: 2px dashed #333;
}

#run, #save,#processimg{
  border: 1px solid #555;
  border-radius: 5px;
  padding: 2px 5px;
  text-decoration: none;
  background-color: #ddd;
}

#run:hover, #save:hover,#processimg:hover{
  background-color: #eee;
}

#imageInput {
  display: none;
}
